$background-color: #f7ede4;
$highlight-color: #ff8864;
$text-color: #3E3730;
$heading-font-family: 'Proza Libre';
$default-font-family: 'Ubuntu';
$h1-font-size: 3rem;
$h2-font-size: 2rem;
$p-font-size: 1.2rem;