@import '../styles/config';

.header{
  background-color: $highlight-color;
  margin: 0 auto;
  padding: 1em 0 1em 0;
  text-align: center;
  width: 90%;
}
.container {
  background-color: $background-color;
  margin: 0 auto;
  padding: 3em 2em 1em 2em;
  text-align: center;
  width: 90%;

  h2 {
    border-top: $text-color 1px solid;
    margin-bottom: .5em;
    padding-top: .8em;
  }

  li {
    margin: 1.5em;
  }

  a {

    color: $text-color;
    padding: 1em;
    text-transform: uppercase;
  }
}

.container p {
  padding-bottom: 1.5em;
  text-align: left; 

}

@media only screen and (min-width: 600px) {
  .container {
    padding: 3em 12em 2em 12em;
    width: 100%;

    a:hover {
      background-color: $highlight-color;
    }

  }
  .header {
    width: 100%;
    padding: 2em 0 2em 0;
  }
}