@import '../styles/config';

.header{
  background-color: $highlight-color;

  padding: 1em 0 1em 0;
  text-align: center;
  width: 90%;
}
.container {
  background-color: $background-color;

  padding: 3em 0 1em 0;
  text-align: center;
  width: 90%;

  h2 {
    border-top: $text-color 1px solid;
    margin-bottom: .5em;
    padding-top: .8em;
  }
}


.container p {
  padding-bottom: 1.5em;
}

@media only screen and (min-width: 600px) {
  .container {
    padding: 3em 12em 2em 12em;
    width: 100%;
  }
  .header {
    width: 100%;
  }
}