@import '../styles/config';

.container {
  color: $text-color;
  background-color: $highlight-color;
  margin: 0 auto;
  padding: 2em 0 3.4em 0;
  width: 90%;
  text-align: center;
}

.header {
  margin-bottom: 1em;
}

.news {
  font-weight: 600;
  padding: 0 2em;
  &:last-of-type{
  margin-top: 2em;
  margin-bottom: 3em;
  }
}

.button {
  background: $background-color;
  border: 3px solid $text-color;
  border-radius: 15px;
  color: $text-color;
  font-weight: 700;
  margin-bottom: 2em;
  padding: 1.2em;
  transition: all 0.3s ease 0s;
    &:hover{
      background-color: darken($background-color, 10%);
      border-radius: 50px;
      transition: all 0.3s ease 0s;
    }
}


@media only screen and (min-width: 786px) {
  .container {
    max-width: 100%;
    width: 100%;
  }

}