$color-bg: #1b1b1b;
$color-yellow: #e9f5c5;

$color-grey-dark-1: rgb(85, 85, 85);
$color-grey-dark-2: rgb(45, 45, 45);
$color-grey-dark-3: rgb(25, 25, 25);

$color-grey-light-1: #e2e2e2;
$color-grey-light-2: #c4c4c4;

$color-card-blue: #50b6e2;

$color-steve: #4f7476;
$color-hideaki: #ef9783;

$font-dev: "Roboto", sans-serif;

$bp-largest: 60em; // 960px - no more clip path, reduce h1
$bp-large: 50em; // 800px - smaller font, center intro
$bp-medium: 32.5em; // 520px smaller font, center nav, smaller svg, smaller contact icon grid col
$bp-small: 26.25em; // 420px  h1
// $bp-smallest:

@keyframes fromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  85% {
    opacity: 0.8;
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    // transform: scale(0.8);
  }

  to {
    opacity: 1;
    // transform: scale(1);
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

///////////////////
///LAYOUT and CONTAINER
//////////////////////

.devPage {
  background-image: linear-gradient(
    to bottom right,
    lighten($color-bg, 20%),
    $color-bg
  );
}

.container {
  font-family: $font-dev;
  max-width: 65rem;
  margin: 0 auto;
}

///////////
// NAVIGATION
////////////

.nav {
  padding: 2rem;
  margin-bottom: 1rem;

  &_ul {
    padding: 1rem;

    display: grid;
    grid-template-columns: 1fr repeat(2, min-content);
    column-gap: 2rem;

    @media only screen and (max-width: $bp-medium) {
      display: flex;
      justify-content: space-evenly;
    }
  }

  &_li {
    position: relative;

    &___1 {
      grid-column: 2 / 3;
    }
  }

  &_link {
    &:link,
    &:visited {
      padding: 1rem;
      text-transform: lowercase;
      font-weight: 400;
      font-size: 1.2rem;
      font-family: $font-dev;
      transition: all 0.3s;

      border-bottom: 1px transparent solid;

      @media only screen and (max-width: $bp-medium) {
        font-size: 1rem;
        padding: 0.7rem;
      }
    }

    &:hover,
    &:focus {
      outline: none;
    }

    &___1 {
      &:link,
      &:visited {
        color: $color-grey-light-1;
      }

      &:hover,
      &:focus {
        border-bottom: 1px $color-grey-light-1 solid;
      }

      &:active {
        border-bottom: 3px $color-grey-light-1 solid;
      }
    }

    &___2 {
      &:link,
      &:visited {
        background: $color-yellow;
        color: $color-bg;
      }

      &:focus,
      &:hover {
        background-color: $color-card-blue;
        color: $color-grey-dark-2;
      }

      &:active {
        background: lighten($color-card-blue, 15%);
        color: $color-grey-dark-3;
      }
    }
  }
}

////////////
//INTRO
/////////////

.intro {
  font-family: $font-dev;

  display: grid;
  grid-template-columns: max-content min-content;
  column-gap: 3rem;
  justify-content: center;

  margin-bottom: 8rem;

  @media only screen and (max-width: $bp-large) {
    display: block;
    margin-bottom: 2rem;
  }

  &_header_1 {
    font-family: "Righteous", sans-serif;
    text-align: center;
    font-size: 4rem;
    word-spacing: 4px;
    color: $color-yellow;
    margin-bottom: 1rem;
    font-weight: 500;
    text-shadow: none;

    animation: fromLeft 1.3s ease-out;

    @media only screen and (max-width: $bp-largest) {
      font-size: 3.5rem;
    }
    @media only screen and (max-width: $bp-large) {
      font-size: 3rem;
      margin-bottom: 0;
    }

    @media only screen and (max-width: $bp-medium) {
      font-size: 2.5rem;
    }
    @media only screen and (max-width: $bp-small) {
      font-size: 2.2rem;
    }
  }

  &_description {
    font-family: inherit;
    color: $color-grey-light-1;

    text-align: right;

    animation: fadeIn 1.5s ease-in;

    @media only screen and (max-width: $bp-large) {
      font-size: 1rem;
      text-align: center;
      margin-left: 1rem;
      margin-bottom: 2rem;
    }

    @media only screen and (max-width: $bp-medium) {
      font-size: 1rem;
    }
  }

  &_img {
    margin: 0 auto;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    grid-column: 2 / 3;
    align-self: center;

    @media only screen and (max-width: $bp-medium) {
      width: 4.5rem;
      height: 4.5rem;
    }
  }
}

////////////
//SKILLS
////////////

.skills {
  color: $color-grey-light-1;
  padding-bottom: 12rem; // for overlap
  margin-bottom: -12rem;

  @media only screen and (max-width: $bp-largest) {
    padding-bottom: 2rem;
    margin-bottom: 0;
  }

  &:hover > h2 {
    animation: pulsate 1.2s infinite ease-in-out;
  }

  &:hover > ul {
    background: darken($color-bg, 15%);
    border: $color-grey-light-1 2px solid;
  }

  &_header_2 {
    text-align: center;
    color: $color-grey-light-1;
    font-weight: 500;
    font-size: 2rem;
    font-family: $font-dev;
    text-transform: uppercase;

    margin-bottom: 1rem;

    @media only screen and (max-width: $bp-large) {
      font-size: 1.75rem;
    }

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.5rem;
    }
  }

  &_list {
    padding: 1rem;
    border: 2px transparent solid;

    max-width: 25rem;
    margin: 0 auto;
    display: grid;
    row-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
    justify-items: center;
    justify-content: center;

    margin-bottom: 2rem;
  }

  &_item {
    font-family: $font-dev;

    display: inline-block;
  }

  &_figure {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &_icon {
    width: 3rem;
    height: 3rem;
    margin-bottom: 3px;

    @media only screen and (max-width: $bp-medium) {
      width: 2rem;
      height: 2rem;
    }

    &___css {
      color: white;
    }

    &___git {
      fill: $color-grey-light-1;
    }
  }

  &_caption {
    text-align: center;
    font-family: $font-dev;

    @media only screen and (max-width: $bp-medium) {
      font-size: 0.8rem;
    }
  }
}

///////////
//PROJECTS
//////////

.projects {
  background: $color-yellow;
  padding-top: 10rem; // works like margin top because of overlap
  padding-bottom: 10rem;

  clip-path: polygon(0 25%, 100% 0, 100% 75%, 0 100%);

  @media only screen and (max-width: $bp-largest) {
    clip-path: none;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  &_header_2 {
    font-family: $font-dev;
    text-align: center;
    color: $color-bg;

    margin-bottom: 4rem;

    @media only screen and (max-width: $bp-large) {
      font-size: 1.75rem;
    }

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.5rem;
    }
  }
}

.card_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 19rem);
  gap: 3rem;
  justify-content: center;

  margin: 0 3rem 4rem 3rem;
  margin-bottom: 1rem;
}

.card {
  background: $color-grey-dark-2;
  border-radius: 1rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;

  &_icon {
    width: 30%;
    border-radius: 1rem;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  &_description {
    flex-grow: 1;

    font-size: 0.9rem;
    font-family: $font-dev;
    font-weight: 400;
    color: $color-grey-light-1;
    margin-bottom: 1rem;
  }

  & ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  &_svg {
    fill: $color-grey-light-1;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 5px;
  }
  & li {
    color: $color-grey-light-1;
    font-size: 1rem;
  }

  &_link:link,
  &_link:visited {
    font-family: $font-dev;
    border-radius: 0.75rem;
    color: $color-grey-light-1;
    font-size: 0.9rem;
    padding: 0.4rem;

    display: flex;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      font-size: 0.8rem;
    }
  }

  &_link:hover,
  &_link:focus {
    outline: none;
    background: $color-grey-light-1;
    color: $color-grey-dark-1;
  }

  &_link:hover &_svg,
  &_link:focus &_svg {
    fill: $color-grey-dark-1;
  }

  &_link:active {
    background: darken($color-grey-light-1, 15%);
  }
}

////////////////
//CONTACT
///////////////

.contact {
  &_header_2 {
    text-align: center;
    color: $color-yellow;
    font-family: $font-dev;

    margin-bottom: 2rem;

    @media only screen and (max-width: $bp-largest) {
      padding-top: 3rem;
    }
    @media only screen and (max-width: $bp-large) {
      font-size: 1.75rem;
    }

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.5rem;
    }
  }

  &_ul {
    display: grid;
    grid-template-columns: repeat(3, 6.6rem);
    justify-content: center;

    margin-bottom: 2rem;

    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: repeat(3, 5.6rem);
    }
  }

  &_li {
    padding: 1rem;
  }

  &_a:visited,
  &_a:link {
    color: $color-grey-light-1;
    padding: 0.3rem;
    border-radius: 0.5rem;
    font-family: $font-dev;

    display: grid;
    justify-items: center;
    row-gap: 0.3rem;

    @media only screen and (max-width: $bp-medium) {
      font-size: 0.8rem;
    }
  }

  &_a:hover,
  &_a:focus {
    outline: none;
    background: $color-yellow;
    color: $color-bg;
  }

  &_a:hover &_svg,
  &_a:focus &_svg {
    fill: $color-bg;
  }

  &_a:active {
    background: darken($color-yellow, 15%);
  }

  &_svg {
    fill: $color-yellow;

    @media only screen and (max-width: $bp-medium) {
      width: 2rem;
    }
  }

  &_line {
    height: 3px;
    background: $color-yellow;

    margin-bottom: 2rem;
  }
}

//////////////
//FOOTER//
/////////////

.container___footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer {
  &_a:link,
  &_a:visited {
    font-size: 1.6rem;
    font-family: $font-dev;
    padding: 0.75rem;
    border-radius: 1rem;
    color: $color-grey-light-1;
    margin-bottom: 2rem;

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.3rem;
    }
  }

  &_a:hover,
  &_a:focus {
    outline: none;
    background: $color-grey-light-1;
    color: $color-bg;
  }

  &_a:active {
    background: darken($color-grey-light-1, 15%);
  }

  &_copyright,
  &_author {
    font-family: $font-dev;
    color: $color-grey-light-1;
    font-size: 0.75rem;
  }

  &_author {
    margin-bottom: 1rem;
  }
}
