@import '../styles/config';

*// Decided no full footer for mobile, but the stylings are written in the small device main section

.container {
  background-color: $background-color;
  font-family: $default-font-family;
  padding: 1em 0;
}


.flex{
  display: flex;
  justify-content: center;
}

.flex li a{
  color: $text-color;
  display: none;
  margin: 1em;
  padding-bottom: .5em;
  text-transform: uppercase;
}

.active {
  cursor: default;
  border-bottom: 2px solid $text-color;
  font-weight: 700;
}


.credit {
  font-size: .7rem;
  letter-spacing: .5px;
  padding: 1.5em;
  text-align: center;
  word-spacing: 1px;
}

@media only screen and (min-width: 786px) {
  .container {
    padding-bottom: .5em;
  }
  .flex li a{
    display: block;
  }
  .credit{
    font-size: .8rem;
  }
}